* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.co-nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #4a86e8;
  padding: 16px 30px;
}

.co-nav-bar .co-links {
  display: flex;
  gap: 30px;
  align-items: center;
}
.co-nav-bar .co-links a {
  text-decoration: none;
  padding: 6px;
  font-size: 18px;
  font-weight: bold;
  color: white;
  display: flex;
  gap: 10px;
}

.co-links a:hover {
  opacity: 0.8;
}

.co-nav-bar input {
  border-radius: 45px;
  width: 30%;
  font-size: 16px;
  padding: 10px 30px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.co-search-bar:focus {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}