* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  background: #4a86e8;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 100;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6px 44px;
}

nav {
  display: flex;
  gap: 25px;
}

nav a {
  text-decoration: none;
  color: #4b5563;
  font-weight: bold;
  transition: color 0.3s;
  color: white;
  scroll-behavior: smooth;
  font-size: 16px;
}

nav a:hover {
  opacity: 0.8;
}

.header-buttons {
  display: flex;
  gap: 12px;
}

.header-buttons-login {
  position: relative;
  display: none;
  gap: 25px;
}
.header-buttons-login button{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  background: transparent;
  outline: none;
  border: 1px solid transparent;
  cursor: pointer;
  color: white;
  font-weight: bold;
  padding: 8px 12px;
  border-radius: 12px;
  transition: all 0.3s;
}


.nav-popup {
  display: none;
  position: absolute;
  background: white;
  border-radius: 12px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  top: 100%;
  left: 15%;
}

.nav-popup::before {
  content: "";
  position: absolute;
  top: -16px;
  left: 60px;
  border-width: 0 10px 10px 10px;
  border-style: solid;
  border-color: transparent transparent white transparent;
}

.show {
  display: block;
}
.nav-popup .popup-link a {
  display: block;
  text-decoration: none;
  border-radius: 12px;
  color: #4a86e8;
  width:100%;
  padding: 18px 24px;
  font-weight: bold;
  overflow: hidden;
  font-size: 16px;
}
.nav-popup .popup-link a:hover {
  background-color: #f0f4ff;
}

.header-buttons-login button:hover {
  border: 1px solid white;
  /* background: rgba(255, 255, 255, 0.1); */
}

.header-buttons-login .image-box {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  img {
    width: 100%;
  }
}

.btn-login,
.btn-register{
  padding: 10px 20px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 600;
  transition: all 0.3s;
  border: none;
}
.btn-login:hover,
.btn-register:hover {
  opacity: 0.8;
}

.btn-login,
.btn-register {
  background: transparent;
  color: white;
}