* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: #d1e3ff;
}

.register {
  margin: auto;
  margin-top: 50px;
  background-color: white;
  width: 550px;
  border-radius: 35px;
  padding: 40px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.05);
}

h1 {
  text-align: center;
  font-size: 32px;
  color: #1a2b4b;
  margin-bottom: 25px;
}

.inputs {
  width: 100%;
  margin: 20px 0;
}

label {
  color: #1a2b4b;
  font-weight: 600;
  font-size: 14px;
  margin-bottom: 5px;
  display: inline-block;
}

input[type="text"],
input[type="email"],
input[type="password"]
 {
  width: 100%;
  height: 50px;
  background: #fff;
  border: 1px solid #ddd;
  outline: none;
  border-radius: 40px;
  color: #333;
  font-size: 16px;
  padding-left: 20px;
  margin-top: 5px;
}

input::placeholder {
  color: #aaaaaa;
}

.St_name input {
  width: 48%;
  display: inline-block;
}

.gender {
  margin-top: 10px;
}

.gender input[type="radio"] {
  width: auto;
  height: auto;
  accent-color: #4a86e8;
  margin-right: 5px;
}

.gender label {
  margin-right: 15px;
  font-weight: 500;
}

.btn {
  margin-top: 20px;
  width: 100%;
  height: 50px;
  background-color: #4a86e8;
  color: white;
  border: none;
  outline: none;
  border-radius: 40px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

.btn:hover {
  background-color: #3574d3;
}

.login-link {
  text-align: center;
  margin-top: 20px;
  font-size: 15px;
  font-weight: bold;
  color: #888;
}
.login-link a {
  font-weight: bold;
  text-decoration: none;
  color: #4a86e8;
}

.login-link a:hover {
  text-decoration: underline;
}

