

#r-aside-toggle {
    position: fixed;
    display: flex;
    top: 150px;
    left: -20px;
    background-color: #4a86e8;
    width: 60px;
    height: 60px;
    justify-content: end;
    align-items: center;
    padding: 30px 9px 30px 15px;
    border-top-right-radius: 76%;
    border-bottom-right-radius: 73%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: left 0.3s ease;
    z-index: 10;
}

#r-aside-toggle svg {
    width: 27px;
    color: white;
}

#r-aside-toggle:hover {
    left: 0;
}

#r-course-name h1 {
    color: white;
    text-align: center;
    /* background: linear-gradient(to right, #5e96ef, #ffffff, #5e96ef); */
    /* background: linear-gradient(to right, white, #5e96ef, white); */
    background-color: #b9b9b9;
    padding: 8px;
    font-size: 32px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

#r-aside-content {
    position: fixed;
    top: 70px;
    left: -285px;
    width: 285px;
    z-index: 11;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    height: calc(100vh - 70px);
    overflow: hidden;
    background-color: #F7F7F7;
    padding: 20px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: left 0.3s ease;
}

#r-content-list {
    list-style: none;
    overflow: auto;
    width: 100%;
    text-align: center;
    padding: 8px;

    li {
        padding: 10px;
        cursor: pointer;
        border-radius: 8px;
        color: #555;
        font-weight: bold;
    }
    li:hover {
        background-color: #e0e0e0;
    }
}
#r-content-list::-webkit-scrollbar {
    width: 8px;
}
#r-content-list::-webkit-scrollbar-thumb {
    background-color: #4a86e8;
    border-radius: 4px;
}

#r-progress {
    display: flex;
    gap: 5px;
    align-items: center;
    margin-bottom: 15px;

    #close {
        width: 30px;
        cursor: pointer;
        padding: 4px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        transition: all ease 0.3s;

        svg {
            width: 100%;
        }
    }
    #close:hover {
        color: red;
        background-color: #cbcbcb;
    }

    #bar {
        display: flex;
        align-items: center;
        gap: 5px;
        width: 80%;

        p {
            font-size: 14px;
            color: #333;
        }
    }
}

#r-video-container {
    width: 70%;
    margin: 20px auto;

    h3 {
        text-align: center;
        margin-bottom: 15px;
        color: #333;
    }

    video {
        width: 100%;
        height: auto;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
}

#r-video-controls {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    
    button {
        padding: 10px 15px;
        background-color: #4a86e8;
        color: white;
        font-weight: bold;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }
    button:hover {
        background-color: #3b6ed8;
    }
}