* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
}

.sd-container {
    display: flex;
    min-height: 100vh;
    width: 100%;
}

.sd-sidebar {
    width: 12%;
    height: 100vh;
    background: linear-gradient(#cfe5fd, #81affa);   
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 10px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    h3 {
        text-align: center;
        color: #004498;
        margin-bottom: 30px;
    }
}

.sd-selected {
    background-color: #689bcf !important;
    color: white !important;
}

.sd-icon {
    padding: 20px 32px;
    background-color: white;
    color: #395d86;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 16px;
}

.sd-main {
    flex: 1;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: center;
}

.sd-search-header {
    width: 100%;
    background-color: #d0e7fd;
    border-radius: 10px;
    padding: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-bottom: 32px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.sd-search-bar {
    font-size: 12px;
    background-color: white;
    display: flex;
    height: 40px;
    align-items: center;
    padding: 8px 12px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    flex: 1;
    input {
        border: none;
        outline: none;
        font-size: 14px;
        flex: 1;
        margin-left: 8px;
    }
}

.sd-filter-btn {
    background-color: white;
    text-align: center;
    padding: 6px 12px;
    border: 1px solid #395d86;
    border-radius: 6px;
    cursor: pointer;
    color: #395d86;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


.sd-courses {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    overflow-y: auto;
    overflow-x: hidden;
    padding-right: 10px;

    .sd-course-card {
        background-color: white;
        border-radius: 10px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        width: 23%;
        padding: 16px;
        display: flex;
        flex-direction: column;
        align-items: start;
        border: 2px solid #5b95ea;


        .sd-image {
            width: 100%;
            border-radius: 8px;
            margin-bottom: 12px;
        }

        .sd-name {
            font-size: 20px;
            font-weight: bold;
            color: #004498;
            margin-bottom: 8px;
        }

        .sd-description {
            font-size: 16px;
            color: #111;
            margin-bottom: 16px;
        }

        .sd-instructor {
            font-size: 14px;
            color: #666;
            margin-bottom: 12px;
        }

        .sd-progress {
            width: 100%;
            display: flex;
            gap: 24px;
        }

        .sd-progress .sd-resume-btn {
            padding: 6px 12px;
            color: white;
            border: none;
            outline: none;
            border-radius: 16px;
            background-color: #5c96ec;
            font-size: 14px;
            font-weight: bold;
            cursor: pointer;
        }
        
        .sd-progress .sd-progress-bar {
            flex: 1;

            .sd-percent {
                font-size: 14px;
                color: #111;
                margin-top: 4px;
            }
        }

        .sd-progress .sd-progress-bar .sd-bar {
            position: relative;
            background-color: #daeaf9;
            width: 100%;
            height: 10px;
            border-radius: 5px;

            .sd-fill {
                background-color: #5c96ec;
                height: 100%;
                border-radius: inherit;
                width: 50%;
            }
        }

    }
}

/* //////////////////////////////// */

.sd-content {
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.sd-content.fade-out {
  opacity: 0;
  transform: translateY(10px);
}

.sd-content.fade-in {
  opacity: 1;
  transform: translateY(0);
}
